<div class="row forecast">
  <div class="forecast-head">
    <strong class="date"><%= weather_forecasts.first.date.strftime('%m月%d日') %>の天気</strong>
    <strong class="max"><%= weather_forecasts.maximum(:temp_max).round %>℃</strong> / 
    <strong class="min"><%= weather_forecasts.minimum(:temp_min).round %>℃</strong>
    <span class="feels">体感温度：<%= weather_forecasts.average(:temp_feel).round %>℃</span>
  </div>
  <table>
    <thead>
      <th>時間</th>
      <th>0-3</th>
      <th>3-6</th>
      <th>6-9</th>
      <th>9-12</th>
      <th>12-15</th>
      <th>15-18</th>
      <th>18-21</th>
      <th>21-24</th>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <% weather_forecasts.each do |forecast| %>
          <% if forecast.daytime? %>
            <td><%= image_tag "#{forecast.weather_condition}d.png" %></td>
          <% else %>
            <td><%= image_tag "#{forecast.weather_condition}n.png" %></td>
          <% end %>
        <% end %>
      </tr>
      <tr>
        <td>気温</td>
        <% weather_forecasts.each do |forecast| %>
          <td><%= forecast.temp_avg.round(1) %></td>
        <% end %>
      </tr>
      <tr>
        <td>降水/h</td>
        <% weather_forecasts.each do |forecast| %>
          <td><%= forecast.rainfall ? forecast.rainfall_avg.round(1) : '-' %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>

<div class="row statistics">
  <% statistics.each do |statistic| %>
    <div class="statistic">
      <h4><%= statistic.date.strftime('%Y年') %></h4>
      <h4><%= image_tag "#{statistic.weather_condition_d}.png" %><%= image_tag "#{statistic.weather_condition_n}.png" %></h4>
      <h4><span class="max"><%= statistic.temp_max %>℃</span> / <span class="min"><%= statistic.temp_min %>℃</span></h4>
    </div>
  <% end %>
</div>
